@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

body{
	height: 100%;
	display: block;
	margin: 0px;
	border: 0px;
}

/* Login Form */
#box{
	margin-left: auto;
	margin-right: auto;
	margin-top: 13%;
	width: 200px;
	padding: 10px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-ms-border-radius: 5px 5px 5px 5px;
	-o-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	font-size: 18px;
	font-family: 'Oswald', sans-serif;
}
.pesan{
	font-size: 8pt;
	font-family: 'Coolvetica', sans-serif;
	color: white;
}
.title{
	text-align: center;
	color: white;
}

.body-login-form{
	background-color: #F54C4C;
}

.input-form-login{
	width: 95%;
	height: 25px;
	padding-left: 5px;
}

.submit-form-login{
	width: 99%;
	height: 30px;
	color: #e56c6c;
	background-color: #ffa3a3;
	border:0 none;
}

/* ------- */